@use "src/styles/functions" as f;

// Font Family
$font-path: '~src/assets/fonts';
$font-family-primary: 'OpenSans';
$font-family-secondary: 'Helvetica Neue';

// Font Size
$font-size-root: 16px;
$font-size-body: 1rem;

$font-size-h1: f.rem(32px);
$font-size-h2: f.rem(28px);
$font-size-h3: f.rem(22px);
$font-size-h4: f.rem(18px);
$font-size-h5: 1rem;
$font-size-h6: f.rem(14px);

$font-size-m: f.rem(18px);
$font-size-s: f.rem(14px);
$font-size-xs: f.rem(12px);

// Opacity
$opacity-high: 0.9;
$opacity-medium: 0.7;
$opacity-low: 0.3;

// Surface Color
$color-primary: #424EAF !default;
$color-light: #fff !default;
$color-dark: #1A1A1A !default;
$color-gray: #fafafa !default;
$color-dark-gray: #8C8C8C !default;
$color-error: #d0021b !default;
$color-border: #d7d7d7 !default;
$color-link: rgb(84, 156, 200);

// Others
$border-radius: f.rem(4px);